<?xml version="1.0" ?>
<Configuration status="INFO">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} %4.4p %c{1} %m (%t) %n"  charset="UTF-8"/>
    </Console>
  </Appenders>

  <Loggers>

    <Root level="DEBUG">
      <AppenderRef ref="stdout"/>
    </Root>
  </Loggers>
</Configuration>
